footer{
    background-color: #005677;
    text-align: center;
}
header{
    text-align: center;
    background-color: #E6E6E6;
}
h1{
    text-align: center;
    color: #005677;
    background-color: #C4C4C4;
}
h2{
    background-color: #C4C4C4;
    color: #005677;
}
li {
    list-style-type: none;
}
li span.italic{
    font-style: italic;  
}
span{
    font-weight: bold;
}
ul li.disc{
    list-style-type: disc;
}